/* ==================== Begin style.css =======================*/

$font-family: monospace;
$normalBackground: lightgray;
$hoverBackground: darkgrey;
$textColor: #000;

* {
  box-sizing: border-box;
}

/* Thanks to Una Kravets for her post on CSS Tricks
 * Solved With CSS! Dropdown Menus
 * https://css-tricks.com/solved-with-css-dropdown-menus/
 */


.goto-font1 {
  font-family: Arial, sans-serif;
}

.goto-font2 {
  font-family: Helvetica, sans-serif;
}

.goto-font3 {
  font-family: "Times New Roman", serif;
}

.goto-font4 {
  font-family: Times, serif;
}

.goto-drop {
   visibility: visible !important;
   opacity: 1 !important;
   display: block !important;
  }

.goto-menu,
.goto-submenu {
  background: $normalBackground;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.goto-menu {

  a {
   text-decoration: none;
  }
  
  li {
  	color: $textColor;
    background: $normalBackground;
  	display: block;
  	float: left;
  	padding: 1rem;
  	position: relative;
  	text-decoration: none;
  }
  
  li a {
   color: $textColor;
  }

  li:hover {
  	background: $hoverBackground;
  	cursor: pointer;
  }

  .goto-submenu {
  	background: $normalBackground;
  	visibility: hidden;
    opacity: 0;
    min-width: 5rem;
  	position: absolute;
    margin-top: 1rem;
  	left: 0;
    display: none;
  }

  /* TODO: for css fallback
  li:hover > .goto-submenu,
  li .goto-submenu:hover {
   visibility: visible;
   opacity: 1;
   display: block;
  }
  */


  li .goto-submenu li {
  	clear: both;
    width: 100%;
  }
}
/* ==================== End style.css =======================*/

